body
	font-size: large
	display: flex
	justify-content: center
	align-items: center
.root
	max-width: min(80vw, 120vh)
	width: 100%
	aspect-ratio: 4/3
	background: antiquewhite
	color: darkslategray
	border-color: firebrick
	border-width: 0.5em
	border-style: solid
	@media (prefers-color-scheme: dark)
		background: slategrey
		color: black
		border-color: rgb(81, 22, 22)
*
	font-family: "IM Fell English", serif
	hanging-punctuation: first last
p
	text-indent: 1em
	margin: 0px
h2 + p
	text-indent: 0
	&::first-letter
		font-size: 3em
		line-height: 0.65
		margin: 0.1em 0.1em 0.0em 0
		font-family: "Uncial Antiqua", system-ui, serif
		float: left
	&::first-line
		font-family: "IM Fell English SC", "IM Fell English", serif
h2
	font-family: "IM Fell English SC", "IM Fell English", serif