body
	font-size: large
	display: flex
	justify-content: center
	align-items: center
.root
	max-width: 80vw
	max-height: 80vh
	width: 100%
	aspect-ratio: 3/2
	background: antiquewhite
	color: darkslategray
	border-color: firebrick
	border-width: 0.5em
	border-style: solid
	@media (prefers-color-scheme: dark)
		background: slategrey
		color: black
		border-color: rgb(81, 22, 22)
*
	font-family: "IM Fell English", serif