body
	padding: 5% 15% 0 15%
	font-size: larger
.root
	background: antiquewhite
	color: darkslategray
	border-color: firebrick
	border-width: 0.5em
	border-style: solid

	padding: 2%
	@media (prefers-color-scheme: dark)
		background: slategrey
		color: black
		border-color: rgb(81, 22, 22)
*
	font-family: "IM Fell English", serif